body {
  font-family: 'Quicksand', sans-serif;
}
header {
  font-family: 'Quicksand', sans-serif;
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
footer {
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
nav {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}
h1 {
  font-weight: normal;
}
hr {
  color: #fafafa;
}
.section1 {
  background-color: #1a1a1a;
}
.title-container {
  font-weight: normal;
  font-size: 20px;
  color: #fafafa;
}
.footer-container {
  font-weight: normal;
  font-size: 10px;
  color: #fafafa;
}
.menu {
  color: #d4d4d4;
  font-size: 30px;
  /* border: 1px solid #fff; */
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.menu a {
  text-decoration: none;
  color: inherit;
}
.menu-items:hover {
  filter: drop-shadow(0px 5px 9px #000000);
  color: #fafafa;
  animation-name: scale;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes scale {
  100% {
    /* margin-top: 10px; */
    transform: scale(1.1);
  }
}
.github {
  justify-content: center;
  text-align: center;
}
.about {
  justify-content: center;
  text-align: center;
}
.contact {
  justify-content: center;
  text-align: center;
}
