$headingFont: 'Arvo' , serif;
$bodyFont: 'Open Sans', sans-serif;
$bgColor: #39393a;
$foreColor: #fafafa;

html {
  body {
    hr {color: #ff8552;}
    p {font-family: 'Open Sans';}
    h1 {font-size: 40px;}
    h1, h2 {font-family: 'Arvo';}
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: $foreColor;
    grid-row-gap: 100px;
    header {
      // font-family: $headingFont;
      color: $foreColor;
      background-color: $bgColor;
      padding-left: 10px;
      margin: auto 20px;
      box-shadow: 3px 3px 0 #ff8552;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    nav {
      display: grid;
      margin: auto 20px;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      #item1 {
        color: $foreColor;
        background-color: $bgColor;
        box-shadow: 3px 3px 0 #ff8552;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0 40px;
        padding-left: 10px;
        p {padding: 0 20px;}
      }
      #item2 {
        color: $foreColor;
        background-color: $bgColor;
        box-shadow: 3px 3px 0 #ff8552;
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 0 40px;
        padding-left: 10px;
      }
      #item3 {
        color: $foreColor;
        background-color: $bgColor;
        box-shadow: 3px 3px 0 #ff8552;
        margin: 0 40px;
        padding-left: 10px;
      }
    }

  }
}
